.About {
    .content {
        .aboutIcon {
            display: flex;
            align-items: center;
            gap: 20px;
            margin: 18px 0;
        }
        .aboutText {
            display: flex;
            align-items: center;
            gap: 130px;

            h1 {
                max-width: 40%;
                font-size: 40px;
                font-weight: 600;
                line-height: 61.36px;
            }
            p {
                width: 48.6%;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
            }
        }
        .aboutImg {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 66px 0;
        }
    }
}
 


@media (max-width: 480px) {
    .About {
        .content {
            padding: 20px;

            .aboutIcon {
                width: 100px;
            }
            .aboutText {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 18px;
                // width: 100px;

                h1 {
                    max-width: 1200%;
                    width: 100%;
                    font-size: 24px;
                    line-height: 36.82px;
                }
                p {
                    max-width: 1400px;
                    width: 100%;
                    font-size: 16px;
                }
            }
            .aboutImg {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                max-width: 100%;
                img{
object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}
